<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container" >

                <div class="row">
                      <div class="col-4 text-left">
                       Copyright Aris Mantes
                      </div>
                      <div class="col-8 text-right">
                            
                            <button type="button" class="btn btn-primary">Next Question</button>
                      </div>
                </div>
                    
            </div>
      </footer>