<div>

<app-header></app-header>

<div class="middle">
<app-main
    [questions]="questions"
    [choices]="choices" 
    [answers]="answers"
    [questionIndex]="questionIndex"
    (clickAnswer)="clickAnswer($event)"
    [selectedIndex]="selectedIndex"
    [finished]="finished"
    [totalQuestions]="totalQuestions"
    *ngIf="!finished"
    >
</app-main>

<app-summary *ngIf="finished"
   [score]="score"
   [totalQuestions]="totalQuestions"
></app-summary>
</div>
<app-footer (nextQuestion)="nextQuestion($event)"
   [totalQuestions]="totalQuestions"
   [questionIndex]="questionIndex"
   [finished]="finished"
   
></app-footer>
</div>